/* ************* */
/* ************* */
/* ************* */
/* Start main */
/* ************* */
/* ************* */
/* ************* */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.17em;
}
h3 {
    padding: var(--padding-small10) 0px;
}

h4 {
    padding: var(--padding-small10) 0px;
}

p {
    font-family: 'cairo', 'Courier New', Courier, monospace;
    font-size: 16px !important;
    font-weight: 400 !important;
}


span {
    font-size: 14px;
    font-weight: 400;
    color: var(--main-color);
}

h2 {
    margin-bottom: 20px;
}
.toggle-switch {
    height: 20px;
}

.toggle-switch::before {
    height: 16px;
    width: 16px;
    font-size: 10px;
}

.toggle-checkbox:checked+.toggle-switch::before {
    left: 60px !important;
}
/* ************************* */
/* End main */
/* ************************* */

/* ************************** */
/* ************************* */
/* *************************** */
/* start global variable */
/* *************************** */
/* ************************** */
/* ************************** */
:root {
    --padding-large100: 100px;
    --padding-semilarge50: 50px;
    --padding-med30: 30px;
    --padding-small20: 20px;
    --padding-small10: 10px;
    --delay-main: 0.5s;
    --delay-sub-long: 1s;
    --main-color: #000000;
    --sec-color: #ffffff;
    --backcolor: #eee;
    --third-color: #666;
    --third-lite-color: #999898;
    --fourth-color: #ececec;
    --fourth-Dark-color: rgb(212, 212, 212);
    --fifth-color: #1787e0;
    --fifth-Dark-color: #0e72c4;
    --fifth-lite-color: #0586f0;
    --footer-color: #1f1e1e;
    --font-large48: 3em;
    --font-med36: 2em;
    --font-small18_72: 1.17em;
    --fontwrite16: 1em;
    --fontwrite-small12_8: .8em;

    --decore-blue: #0075ff;
    --decore-red: #f00;
    --decore-orange: #ff7500;
    --decore-green: #0f0;
    --decore-green-lite: #00ff75;
}


::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--fifth-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--fifth-lite-color);
}

html {
    scroll-behavior: smooth;

}

body {
    display: flex;
    min-height: 100vh;
    /* width: 100vw; */
    /* overflow: hidden; */
}

.container {
    margin: 0px;
    padding: var(--padding-med30) auto;
    overflow: hidden;
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

li {
    list-style: none;
    color: var(--main-color);
}

i {
    margin-right: var(--padding-small10);
}

/* ************************* */
/* End Global */
/* ************************* */




/* ************************* */
/* ************************* */
/* ************************* */
/* Start DashBoard */
/* ************************* */
/* ************************* */
/* ************************* */

/* ************************* */
/* ************************* */
/* ************************* */
/* Start Aside */
/* ************************* */
/* ************************* */
/* ************************* */

aside {
    width: 200px;
    padding: var(--padding-small20);
    position: relative;
    left: 0;
    top: 0;
    background-color: var(--sec-color);
    box-shadow: 0 0 5px var(--third-color);
    z-index: 10;
}

aside h3 {
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}

aside h3::before,
aside h3::after {
    position: absolute;
    content: '';
    top: 180%;
}

aside h3::before {
    width: 70%;
    left: 15%;
    height: 2px;
    background-color: var(--main-color);
}

aside h3::after {
    position: absolute;
    content: '';
    top: 180%;
    left: 50%;
    width: 15px;
    height: 15px;
    background-color: var(--main-color);
    border: 5px solid var(--sec-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translate(-45%, -50%);
    -webkit-transform: translate(-45%, -50%);
    -moz-transform: translate(-45%, -50%);
    -ms-transform: translate(-45%, -50%);
    -o-transform: translate(-45%, -50%);
}

aside ul li {
    color: var(--main-color);
    /*display: block;
    */
    /*padding: var(--padding-small10);
    */
    margin: var(--padding-small10) 0px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

aside ul li.active,
aside ul li:hover {
    background-color: var(--fourth-color);
}

aside ul li a {
    display: flex;
    font-size: 14px;
    padding: var(--padding-small10);
    border-radius: 6px;
}

/* ************************* */
/* End Aside */
/* ************************* */

/* ************************* */
/* ************************* */
/* ************************* */
/* Start Header */
/* ************************* */
/* ************************* */
/* ************************* */
header {
    height: var(--padding-semilarge50);
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .left {
    border: 1px solid var(--fourth-Dark-color);
    position: relative;
    padding: 0px var(--padding-small10);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

header .left i {
    left: 0px;
    z-index: 2;
    color: var(--third-lite-color);
}

header .left input {
    right: 20px;
    padding: var(--padding-small10) 0px;
    font-size: var(--fontwrite-small12_8);
    outline: none;
    border: none;
    width: 120px;
    transition: var(--delay-main);
    -webkit-transition: var(--delay-main);
    -moz-transition: var(--delay-main);
    -ms-transition: var(--delay-main);
    -o-transition: var(--delay-main);
}

header .left input:focus {
    width: 160px;
}

header .left input:focus::placeholder {
    opacity: 0;
}


header .right .bell {
    width: fit-content;
    top: -10px;
}

header .right .bell::before {
    position: absolute;
    content: '';
    top: -5px;
    right: 10px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

header .right .avatar {
    width: 32px;
    height: 32px;
    /* margin: 5px; */
}

header .right .avatar img {
    width: 32px;
}


/* ************************* */
/* End Header */
/* ************************* */

/* ************************* */
/* ************************* */
/* ************************* */
/* Start Section */
/* ************************* */
/* ************************* */
/* ************************* */
section h1 {
    width: fit-content;
}

section h1::before,
section h1::after {
    position: absolute;
    content: '';
    left: 20px;
    bottom: 0px;
    width: 70%;
    height: 4px;
    background-color: white;
}

section h1::after {
    background-color: black;
    width: 20%;
}

.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

/* ************************* */
/* ************************* */
/* ************************* */
/* Start Welcome widget*/
/* ************************* */
/* ************************* */
/* ************************* */
.wrapper .welcome {
    overflow: hidden;
}

.wrapper .welcome .intro .image {
    width: fit-content;
}

.wrapper h2 {
    padding-bottom: 15px;
}

.wrapper p {
    color: var(--third-color);
    font-weight: bold;
}

.wrapper .welcome .intro .hide-mobile {
    width: 200px;
}

.wrapper .welcome .wel_av {
    /* left: 250px; */
    width: 60px;
    height: 60px;
    /* position: relative; */
    margin-left: 20px;
    margin-top: -32px;
    border: 5px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.wrapper .welcome .table {
    background-color: white;
    padding-top: 20px !important;
}

.wrapper .welcome .table .content .col {
    padding: 20px;
    text-align: center;
    /* background-color: red; */
    width: calc(100% /3);
    border-top: 1px solid var(--fourth-color);
    border-bottom: 1px solid var(--fourth-color);
}

.wrapper .welcome .table .content .col h4 {
    padding-bottom: 10px;
}

.wrapper .welcome .table .content .col p {
    color: var(--third-color);
}

.wrapper .welcome .table a {
    width: fit-content;
    display: block;
    margin: 10px 15px 15px auto;
    color: white;
    font-size: 14px;
    font-weight: 600;
    transition: 0.3s;
}

.wrapper .welcome .table a:hover {
    background-color: var(--fifth-Dark-color);
}

/* ************************* */
/* End Welcome widget*/
/* ************************* */

/* ************************* */
/* ************************* */
/* ************************* */
/* Start Quick-Draft widget*/
/* ************************* */
/* ************************* */
/* ************************* */
.quick-draft textarea {
    resize: none;
    min-height: 180px;
}

.quick-draft input[type="submit"] {
    margin: 0px 15px 15px auto;
    border: none;
    color: white;
    background-color: var(--fifth-Dark-color);
}

/* ************************* */
/* End Quick-Draft widget*/
/* ************************* */

/* ************************* */
/* ************************* */
/* ************************* */
/* Start Yearly-Targets widget*/
/* ************************* */
/* ************************* */
/* ************************* */
.yearly-targets .box {
    width: 80px;
    height: 80px;
    padding: 35px;
    display: inline-block;
}

.yearly-targets .box.one {
    background-color: rgb(0 117 255 / 20%);
}

.yearly-targets .box.two {
    background-color: rgb(255 117 0 / 20%);
    padding: 30px;
}

.yearly-targets .box.three {
    background-color: rgb(0 255 117 / 20%);
}

.yearly-targets .content .text {
    display: block;
    width: 100%;
    position: relative;
}

.yearly-targets .content .text::before,
.yearly-targets .content .text::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    background-color: rgb(0 117 255 / 20%);
    bottom: 20%;
}

.yearly-targets .content.box-two .text::before {
    background-color: rgb(255 117 0 / 20%);
}

.yearly-targets .content.box-three .text::before {
    background-color: rgb(117 255 0 / 20%);
}


.yearly-targets .content .text::after {
    width: 80%;
    background-color: rgb(0 117 255 / 100%);
}

.yearly-targets .content.box-two .text::after {
    width: 15%;
    background-color: rgb(255 117 0);
}

.yearly-targets .content.box-three .text::after {
    width: 75%;
    background-color: rgb(117 255 0);
}

.yearly-targets .content p.first {
    font-size: 14px !important;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 600;
}

.yearly-targets .content p.first::before {
    position: absolute;
    content: '80%';
    left: 80%;
    bottom: 40%;
    background-color: #0075ff;
    color: white;
    padding: 5px;
    border-radius: 5px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.yearly-targets .content.box-two p.first::before {
    content: '15%';
    background-color: #ff7500;
    left: 15%;
}

.yearly-targets .content.box-three p.first::before {
    content: '75%';
    background-color: #75ff00;
    left: 75%;
}

.yearly-targets .content p.first::after {
    position: absolute;
    content: '';
    left: 80%;
    bottom: 24%;
    border-style: solid;
    border-width: 10px;
    border-color: #0075ff transparent transparent transparent;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.yearly-targets .content.box-two p.first::after {
    content: '';
    border-color: #ff7500 transparent transparent transparent;
    left: 15%;
}

.yearly-targets .content.box-three p.first::after {
    content: '';
    border-color: #75ff00 transparent transparent transparent;
    left: 75%;
}

.yearly-targets .content p.second {
    color: black;

    /* margin-bottom: 10px; */
    /* font-weight: 600; */
}


/* ************************* */
/* End Yearly-Targets widget*/
/* ************************* */

/* ************************* */
/* ************************* */
/* ************************* */
/* Start Tickets Statistics widget*/
/* ************************* */
/* ************************* */
/* ************************* */
.Tickets .content {
    margin-top: 20px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
}

.Tickets .content .box {
    /* background-color: red; */
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #666;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.Tickets .content .box .icon {
    width: fit-content;
}

.Tickets .content .box.one .icon i {
    padding: 2px 5px;
    border: 2px solid #ff7500;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.Tickets .content .box .text .first {
    color: black;
    font-size: var(--font-med36);
}

.Tickets .content .box .text .second {
    margin: var(--padding-small10);
    font-size: var(--fontwrite-small12_8);
}

/* ************************* */
/* End Tickets Statistics widget*/
/* ************************* */

/* ************************* */
/* ************************* */
/* ************************* */
/* Start Latest News widget*/
/* ************************* */
/* ************************* */
/* ************************* */
.latest-news {
    background-color: var(--sec-color);
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.latest-news .content .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.latest-news .content .box:not(:last-child) {
    border-bottom: 1px solid var(--fourth-color);
}

.latest-news .content .box .left {
    display: flex;
    justify-content: space-between;
}

.latest-news .content .box .image {
    margin-right: 20px;
    margin-bottom: 10px;
}

.latest-news .content .box .image img {
    width: 80px;
}

.latest-news .content .box .left .text h3 {
    font-size: 16px;
}

.latest-news .content .box .left .text p {
    font-size: var(--fontwrite-small12_8);
    padding-top: 10px;
}

.latest-news .content .box .right {
    font-size: 13px;
    font-weight: 500;
    color: black;
    padding: 2px 5px;
    border-radius: 5px;
    background-color: var(--fourth-color);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* ************************* */
/* End Latest News widget*/
/* ************************* */

/* ************************* */
/* ************************* */
/* ************************* */
/* Start Latest Tasks widget*/
/* ************************* */
/* ************************* */
/* ************************* */
.latest-tasks {
    background-color: var(--sec-color);
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.latest-tasks .content .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
}

.latest-tasks .content .box:not(:last-child) {
    border-bottom: 1px solid var(--fourth-color);
}

.latest-tasks .content .box .left {
    display: flex;
    justify-content: space-between;
}

.latest-tasks .content .box .left .text h3 {
    font-size: 16px;
}

.latest-tasks .content .box .left .text p {
    font-size: var(--fontwrite-small12_8);
    padding-top: 10px;
}

.latest-tasks .content .box .right i {
    font-size: 18px;
    font-weight: 100;
    color: black;
    padding: 2px 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.latest-tasks .content .box .right i:hover {
    color: red;
    cursor: pointer;
}



.latest-tasks .content .box.delete h3,
.latest-tasks .content .box.delete i,
.latest-tasks .content .box.delete p {
    text-decoration: line-through;
    /* color: #aaa; */
    opacity: 30%;
}

/* ************************* */
/* End Latest Tasks widget*/
/* ************************* */

/* ************************* */
/* ************************* */
/* ************************* */
/* Start Top Search widget*/
/* ************************* */
/* ************************* */
/* ************************* */
.top-search {
    background-color: var(--sec-color);
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.top-search .sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
    padding: 10px 0px;
    color: var(--third-color);
}

.top-search .content .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    color: var(--main-color);
}



.top-search .content .box .left p {
    color: var(--main-color);
    font-size: var(--fontwrite16);
    font-weight: 400;
    padding-top: 10px;
}

.top-search .content .box .right p {
    color: var(--main-color);
    font-size: 14px;
    padding: 5px;
    background-color: var(--fourth-color);
    font-weight: 400;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.top-search .content .box .right i {
    font-size: 18px;
    font-weight: 100;
    color: black;
    padding: 2px 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.top-search .content .box .right i:hover {
    color: red;
    cursor: pointer;
}


/* ************************* */
/* End Top Search widget*/
/* ************************* */

/* ************************* */
/* ************************* */
/* ************************* */
/* Start Latest Uploads widget*/
/* ************************* */
/* ************************* */
/* ************************* */
.latest-uploads {
    background-color: var(--sec-color);
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.latest-uploads .content .box {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
}

.latest-uploads .content .box:not(:last-child) {

    border-bottom: 1px solid var(--fourth-color);
}

.latest-uploads .content .box .left {
    display: flex;
}

.latest-uploads .content .box .left .text h3,
.latest-uploads .content .box .left .text p {
    font-size: 16px;
    font-weight: 400;
}

.latest-uploads .content .box .right p {
    font-size: 14px;
    font-weight: 400;
    padding: 5px;
    background-color: var(--fourth-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.latest-uploads .content .box .image img {
    width: 40px;
}

/* ************************* */
/* End Latest Uploads widget*/
/* ************************* */

/* ************************* */
/* ************************* */
/* ************************* */
/* Start Last Progress widget*/
/* ************************* */
/* ************************* */
/* ************************* */
.last-progress {
    background-color: var(--sec-color);
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
}

.last-progress .image {
    position: absolute;
    right: 20px;
    bottom: 20px;
    opacity: 20%;
    /* width: 40px; */
}

.last-progress .image img {
    width: 150px;
}

.last-progress .content {
    margin: 20px 40px;
    position: relative;
}

.last-progress .content::before {
    position: absolute;
    content: '';
    height: 80%;
    width: 3px;
    background-color: var(--fifth-color);
    top: 10%;
}

.last-progress .content div {
    padding: 10px 20px;
    position: relative;
}

.last-progress .content div::before {
    position: absolute;
    content: '';
    width: 26px;
    height: 26px;
    background-color: var(--sec-color);
    border: 2px solid var(--fifth-lite-color);
    left: -13px;
    top: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.last-progress .content .fill::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-color: var(--fifth-lite-color);
    border-radius: 50%;
    left: -8px;
    top: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.last-progress .content .between::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-color: var(--fifth-lite-color);
    left: -8px;
    top: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: var(--delay-sub-long);
    -webkit-transition: var(--delay-sub-long);
    -moz-transition: var(--delay-sub-long);
    -ms-transition: var(--delay-sub-long);
    -o-transition: var(--delay-sub-long);
    animation: blink var(--delay-sub-long) linear infinite alternate-reverse;
    -webkit-animation: blink var(--delay-sub-long) linear infinite alternate-reverse;
}

/* ************************* */
/* End Last Progress widget*/
/* ************************* */

/* ************************* */
/* ************************* */
/* ************************* */
/* Start Reminder widget*/
/* ************************* */
/* ************************* */
/* ************************* */
.reminder {
    background-color: var(--sec-color);
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.reminder .content {
    margin-left: 50px;
}

.reminder .content .box {
    position: relative;
    margin: 10px 0px;
}

.reminder .content .box::before {
    position: absolute;
    content: '';
    height: 100%;
    width: 2px;
    left: -10px;
    background-color: red;
}

.reminder .content .box::after {
    position: absolute;
    content: '';
    height: 15px;
    width: 15px;
    left: -40px;
    top: 50%;
    background-color: red;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.reminder .content .box:nth-child(1)::before,
.reminder .content .box:nth-child(1)::after {
    background-color: var(--decore-blue);
}

.reminder .content .box:nth-child(2)::before,
.reminder .content .box:nth-child(2)::after {
    background-color: var(--decore-green);
}

.reminder .content .box:nth-child(3)::before,
.reminder .content .box:nth-child(3)::after {
    background-color: var(--decore-orange);
}

.reminder .content .box h3 {
    margin: 10px 0px;
    font-size: var(--fontwrite16);
}

.reminder .content .box p {
    font-size: 14px;
    font-weight: 400;
}

/* ************************* */
/* End Reminder widget*/
/* ************************* */

/* ************************* */
/* ************************* */
/* ************************* */
/* Start Latest Post widget*/
/* ************************* */
/* ************************* */
/* ************************* */
.latest-post {
    background-color: var(--sec-color);
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.latest-post .top {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--fourth-color);
}

.latest-post .top .text {
    margin-left: 20px;
}

.latest-post .top .text p {
    margin-top: 10px;
    font-weight: 500;
}

.latest-post .image img {
    width: 60px;
}

.latest-post .mid p {
    color: var(--main-color);
    line-height: 1.8em;
    padding: 20px 0px 40px;
    font-weight: 500;
    border-bottom: 1px solid var(--fourth-color);
}

.latest-post .bot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    padding-bottom: 20px;
    color: greenyellow;
}

.latest-post .bot span {

    color: var(--third-color);
}

/* ************************* */
/* End  Latest Post widget*/
/* ************************* */

/* ************************* */
/* ************************* */
/* ************************* */
/* Start Social Media widget*/
/* ************************* */
/* ************************* */
/* ************************* */
.social {
    background-color: var(--sec-color);
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.social .content .box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0 117 255 /0.3);
    padding: 10px;
    margin: 10px 0px;
    font-size: 14px;
}

.social .content .box .left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social .content .box .left .image {
    background-color: var(--fifth-lite-color);
    width: 50px;
    padding: 10px 0px;
    margin: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--delay-main);
    -webkit-transition: var(--delay-main);
    -moz-transition: var(--delay-main);
    -ms-transition: var(--delay-main);
    -o-transition: var(--delay-main);
}

.social .content .box .left .image:hover {
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
}

.social .content .box .left .image i {
    color: white;
    position: relative;
    left: 5px;
}

.social .content .box .left .text p {
    margin-left: 30px;
    color: var(--decore-blue);
    font-weight: 600;
}

.social .content .box .right a {
    margin: 0px 0px;
    padding: 5px 10px;
    color: var(--sec-color);
    background-color: var(--fifth-lite-color);
    font-size: 15px;
    font-weight: 400;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.social .content .box:nth-child(3) {
    background-color: rgba(255, 0, 0, 0.3);
}

.social .content .box:nth-child(1) .left .image,
.social .content .box:nth-child(1) .right a {
    background-color: #1da1f2;
}

.social .content .box:nth-child(1) .left .text p {
    color: #1da1f2;
}

.social .content .box:nth-child(3) .left .image,
.social .content .box:nth-child(3) .right a {
    background-color: red;
}

.social .content .box:nth-child(3) .left .text p {
    color: red;
}

.social .content .box:nth-child(4) .left .image,
.social .content .box:nth-child(4) .right a {
    background-color: #0077b5;
}

.social .content .box:nth-child(3) .left .text p {
    color: #0077b5;
}

/* ************************* */
/* End Social Media widget*/
/* ************************* */


/* ************************* */
/* ************************* */
/* ************************* */
/* Start Projects widget*/
/* ************************* */
/* ************************* */
/* ************************* */
.projects {
    background-color: var(--sec-color);

    margin: 20px;
    padding: 20px;
    /* overflow-x: hidden; */
    grid-column: 1 / span 2;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    /* overflow: auto; */
}


.projects .content.responsive-table {
    overflow-x: auto;
}

.projects .content table {
    border: 1px solid;
    font-size: 15px;
    border-color: var(--fourth-color);
    min-width: 1200px;
    border-spacing: 0px;
}


.projects .content table td {
    border: 1px solid var(--fourth-color);
}

.projects .content table caption {
    /* width: 100%; */
    padding: 20px 0px;
    font-family: 'cairo';
    font-weight: bolder;
    font-size: var(--font-med36);
    color: red;
    text-shadow: 1px 3px 10px red, -1px -3px 10px blue;
}

.projects .content table thead tr th {
    margin: 0px;
    padding: 20px;
    background-color: var(--fourth-Dark-color);

}

.projects .content table tbody tr td {
    padding: 10px 20px;
    width: fit-content;
}

.projects .content table tbody tr td.images {
    position: relative;
}

.projects .content table tbody tr td img {
    width: 32px;
    height: 32px;
    position: relative;
    border: 3px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.projects .content table tbody tr td img:not(:first-child) {
    margin-left: -20px;
}

.projects .content table tbody tr:hover td {
    background-color: #faf7f7;
}

/* ************************* */
/* End Projects widget*/
/* ************************* */

/* ************************* */
/* End Section */
/* ************************* */

/* ************************* */
/* End DashBoard */
/* ************************* */
/* ************************* */
/* ************************* */
/* ************************* */
/* Start Media */
/* ************************* */
/* ************************* */
/* ************************* */
@media screen and (max-width: 1150px) {
    .Tickets .content {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

@media screen and (max-width: 767px) {
    aside {
        width: 70px;
        padding: 10px;

    }

    aside .title>h3 {
        font-size: 13px;
        margin-bottom: 35px;
    }

    aside .title>h3::before,
    aside .title>h3::after {
        display: none;
    }

    aside .title ul li span {
        display: none;
    }

    aside .title ul li span {
        display: none;
    }

    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }

    .wrapper .welcome .table .content {
        flex-direction: column;
        flex-basis: auto;
        /* justify-content: center; */
        align-items: center;
    }

    .Tickets .content .box {
        width: 100%;
    }

    .latest-news .content .box {
        flex-direction: column;
        padding: var(--padding-small20);
    }

    .projects {
        overflow-x: hidden;
    }

}

@keyframes blink {
    from {
        background-color: var(--sec-color);
    }

    to {
        background-color: var(--fifth-color);
    }

}

/* ************************* */
/* End Media */
/* ************************* */

/* ************************* */
/* Start Toggle */
/* ************************* */
.toggle-checkbox {
    appearance: none;
}

.toggle-switch {
    width: 80px;
    height: 30px;
    background-color: var(--fourth-Dark-color);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    position: relative;
    transition: var(--delay-main);
    -webkit-transition: var(--delay-main);
    -moz-transition: var(--delay-main);
    -ms-transition: var(--delay-main);
    -o-transition: var(--delay-main);
    cursor: pointer;
}

.toggle-switch::before {
    position: absolute;
    font-family: 'Font Awesome\ 5 Free';
    content: '\f00d';
    font-weight: 900;
    color: var(--fourth-Dark-color);
    text-align: center;
    line-height: 1.6;
    left: 1px;
    width: 26px;
    height: 26px;
    margin: 2px;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: var(--delay-main);
    -webkit-transition: var(--delay-main);
    -moz-transition: var(--delay-main);
    -ms-transition: var(--delay-main);
    -o-transition: var(--delay-main);
}

.toggle-checkbox:checked+.toggle-switch {
    background-color: var(--fifth-lite-color);
}

.toggle-checkbox:checked+.toggle-switch {
    background-color: var(--fifth-lite-color);
}

.toggle-checkbox:checked+.toggle-switch::before {
    color: var(--fifth-lite-color);
    left: 50px;
    content: '\f00c';
}


/* ************************* */
/* End Toggle */
/* ************************* */