/* ************************************* */
/* ************************************* */
/*  Start Main */
/* ************************************* */
/* ************************************* */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

h3 {
    padding: var(--padding-small10) 0px;
}

h4 {
    padding: var(--padding-small10) 0px;
}

p {
    font-family: 'cairo', 'Courier New', Courier, monospace;
    font-size: 16px !important;
    font-weight: 400 !important;
}


span {
    font-size: 14px;
    font-weight: 400;
    color: var(--main-color);
}

h2 {
    margin-bottom: 20px;
}


.toggle-switch {
    height: 20px;
}

.toggle-switch::before {
    height: 16px;
    width: 16px;
    font-size: 10px;
}

.toggle-checkbox:checked+.toggle-switch::before {
    left: 60px !important;
}

/* ************************************* */
/*  End Main */
/* ************************************* */

/* ************************* */
/* *************************** */
/* start global variable */
/* ************************** */
/* ************************** */
:root {
    --padding-large100: 100px;
    --padding-semilarge50: 50px;
    --padding-med30: 30px;
    --padding-small20: 20px;
    --padding-small10: 10px;
    --delay-main: 0.5s;
    --delay-sub-long: 1s;
    --main-color: #000000;
    --sec-color: #ffffff;
    --backcolor: #eee;
    --third-color: #666;
    --third-lite-color: #999898;
    --fourth-color: #ececec;
    --fourth-Dark-color: rgb(212, 212, 212);
    --fifth-color: #176ee0;
    --fifth-Dark-color: #073bca;
    --fifth-lite-color: #0592f0;
    --footer-color: #1f1e1e;
    --font-large48: 3em;
    --font-med36: 2em;
    --font-small18_72: 1.17em;
    --fontwrite16: 1em;
    --fontwrite-small12_8: .8em;

    --decore-blue: #0075ff;
    --decore-red: #f00;
    --decore-orange: #ff7500;
    --decore-green: #0f0;
    --decore-green-lite: #00ff75;
}


::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--fifth-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--fifth-lite-color);
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    min-height: 100vh;
}

.container {
    margin: 0px;
    padding: var(--padding-med30) auto;
    overflow: hidden;
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

li {
    list-style: none;
    color: var(--main-color);
}

i {
    margin-right: var(--padding-small10);
}

/* ************************* */
/* End Global */
/* ************************* */

/* ************************************* */
/* ************************************* */
/*  Start Project widget */
/* ************************************* */
/* ************************************* */
.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}

/* ************************************* */
/* ************************************* */
/*  Start Lion Dashboard widget */
/* ************************************* */
/* ************************************* */
.mainBox {
    position: relative;
    min-width: 400px;
}

.mainBox>span {
    position: absolute;
    right: 10px;
    top: 10px;
    color: var(--third-color);
    font-size: 13px;
}

.mainBox .box:not(:last-child) {
    padding: 20px 0px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--fourth-Dark-color);
}

.mainBox .team img {
    width: 40px;
    border: 3px solid white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.mainBox .team img:not(:first-child) {
    margin-left: -20px;
}

.mainBox .langagues {
    margin-top: -20px;
    text-align: right;
}

.mainBox .langagues span {
    padding: 10px;
    background-color: var(--fourth-color);
    margin: 0px;
    font-size: 12px;
    font-weight: 600;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.mainBox .progress-bar {
    display: flex;
    justify-content: space-between;
    /* background-color: RE; */
}

.mainBox .progress-bar .bar {
    position: relative;
    overflow: hidden;
    width: 50%;
    height: 10px;
    background-color: var(--fourth-color);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;

}

.mainBox .progress-bar .bar span {
    position: absolute;
    width: 50%;
    height: 10px;
    background-color: var(--decore-red);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.mainBox .progress-bar .price {
    font-family: "cairo", 'Courier New', Courier, monospace;
    font-size: 14px;
    font-weight: 700;
    color: var(--third-color);
}

.academy-dash .progress-bar .bar span {
    width: 80%;
    background-color: var(--decore-green);
}

.chatting-dash .progress-bar .bar span {
    width: 100%;
    background-color: var(--decore-blue);
}

.ahmed-dash .progress-bar .bar span {
    width: 60%;
    background-color: var(--decore-green);
}

.ahmedportal-dash .progress-bar .bar span {
    width: 60%;
    background-color: var(--decore-green);
}

.mohamed-dash .progress-bar .bar span {
    width: 30%;
    background-color: var(--decore-red);
}

.mohameddash-dash .progress-bar .bar span {
    width: 70%;
    background-color: var(--decore-green-lite);
}

/* ************************************* */
/*  End Lion Dashboard widget */
/* ************************************* */

/* ************************************* */
/*  End Project widget */
/* ************************************* */

/* ************************************* */
/* ************************************* */
/*  Start media */
/* ************************************* */
/* ************************************* */
@media (max-width: 767px) {
    .mainBox {
        min-width: 500px;
    }
}

/* ************************************* */
/*  End Media */
/* ************************************* */