/* ************************************* */
/* ************************************* */
/*  Start Main */
/* ************************************* */
/* ************************************* */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

h3 {
    padding: var(--padding-small10) 0px;
}

h4 {
    padding: var(--padding-small10) 0px;
}

p {
    font-family: 'cairo', 'Courier New', Courier, monospace;
    font-size: 16px !important;
    font-weight: 400 !important;
}


span {
    font-size: 14px;
    font-weight: 400;
    color: var(--main-color);
}

h2 {
    margin-bottom: 20px;
}


.toggle-switch {
    height: 20px;
}

.toggle-switch::before {
    height: 16px;
    width: 16px;
    font-size: 10px;
}

.toggle-checkbox:checked+.toggle-switch::before {
    left: 60px !important;
}

/* ************************************* */
/*  End Main */
/* ************************************* */

/* ************************* */
/* *************************** */
/* start global variable */
/* ************************** */
/* ************************** */
:root {
    --padding-large100: 100px;
    --padding-semilarge50: 50px;
    --padding-med30: 30px;
    --padding-small20: 20px;
    --padding-small10: 10px;
    --delay-main: 0.5s;
    --delay-sub-long: 1s;
    --main-color: #000000;
    --sec-color: #ffffff;
    --backcolor: #eee;
    --third-color: #666;
    --third-lite-color: #999898;
    --fourth-color: #ececec;
    --fourth-Dark-color: rgb(212, 212, 212);
    --fifth-color: #176ee0;
    --fifth-Dark-color: #073bca;
    --fifth-lite-color: #0592f0;
    --footer-color: #1f1e1e;
    --font-large48: 3em;
    --font-med36: 2em;
    --font-small18_72: 1.17em;
    --fontwrite16: 1em;
    --fontwrite-small12_8: .8em;

    --decore-blue: #0075ff;
    --decore-red: #f00;
    --decore-orange: #ff7500;
    --decore-green: #0f0;
    --decore-green-lite: #00ff75;
}


::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: var(--fifth-color);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--fifth-lite-color);
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    min-height: 100vh;
}

.container {
    margin: 0px;
    padding: var(--padding-med30) auto;
    overflow: hidden;
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--main-color);
}

li {
    list-style: none;
    color: var(--main-color);
}

i {
    margin-right: var(--padding-small10);
}

/* ************************* */
/* End Global */
/* ************************* */
/* ************************************* */
/* ************************************* */
/* ************************************* */
/*  Start Settings widget */
/* ************************************* */
/* ************************************* */
/* ************************************* */

/* ************************************* */
/* ************************************* */
/* ************************************* */
/*  Start Site Controls widget */
/* ************************************* */
/* ************************************* */
/* ************************************* */
.site-control .contText {
    margin-top: 20px;
    padding: 10px;
    font-size: 13px;
    width: 100%;
    border-color: var(--fourth-color);
    resize: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* ************************************* */
/*  End Site Controls widget */
/* ************************************* */

/* ************************************* */
/* ************************************* */
/* ************************************* */
/*  Start General Info widget */
/* ************************************* */
/* ************************************* */
/* ************************************* */

.general-info .contents {
    margin-top: 20px;
}

.general-info .contents label {
    display: block;
    color: var(--third-color);
    padding-top: 20px;
    padding-bottom: 10px;
}

.general-info .contents input {
    width: 100%;
    padding: 10px;
    font-size: 13px;
    border: 1px solid var(--fourth-Dark-color);
    outline: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.general-info .contents input.email {
    width: calc(100% - 80px);
    margin-right: 10px;
}

.general-info .contents a {
    color: var(--decore-blue)
}

/* ************************************* */
/*  End General Info widget */
/* ************************************* */

/* ************************************* */
/* ************************************* */
/*  Start Security Info widget */
/* ************************************* */
/* ************************************* */

.security-info .contents>div {
    margin-bottom: 20px;
}

.security-info .contents>div>div:not(:last-child) {
    border-bottom: 1px solid var(--fourth-color);
    padding: 10px 0px;
    padding-bottom: 20px;
}

.security-info .contents>div label {
    font-weight: bold;
}

.security-info .contents a {
    padding: 5px 10px;
    background-color: var(--fifth-color);
    color: var(--sec-color);
    font-size: var(--fontwrite16);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.security-info .contents a:hover {
    background-color: var(--fifth-lite-color);
}

.security-info .contents a.different {
    background-color: var(--fourth-color);
    color: var(--main-color);
}

.security-info .contents a.different:hover {
    background-color: var(--main-color);
    color: var(--fourth-color);
}


.security-info .contents>div p {
    padding-top: 10px;
}

.security-info .contents>div>div>div>label {
    position: relative;
    top: -20px;
}

/* ************************************* */
/*  End Security Info widget */
/* ************************************* */

/* ************************************* */
/* ************************************* */
/*  Start Social Info widget */
/* ************************************* */
/* ************************************* */


.social-info .contents>div {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    margin: 15px 0px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.social-info .contents>div i {
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    color: var(--third-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-info .contents>div input {
    font-size: var(--fontwrite-small12_8);
    width: 100%;
    height: 40px;
    background-color: #f6f6f6;
    border: none;
    outline: none;
}

.social-info .contents>div:focus-within i {
    color: black;
}

/* ************************************* */
/*  End Social Info widget */
/* ************************************* */

/* ************************************* */
/* ************************************* */
/*  Start Widget Control widget */
/* ************************************* */
/* ************************************* */


.widget-control .contents>div {
    padding-bottom: 20px;
}

.widget-control .contents label {
    font-weight: 500;
    position: relative;
    padding: 0px 0px 15px 30px;
    cursor: pointer;
}

.widget-control .contents label .checkdiv {
    position: absolute;
    left: 0px;
    top: 0px;
    transition: var(--delay-main);
    -webkit-transition: var(--delay-main);
    -moz-transition: var(--delay-main);
    -ms-transition: var(--delay-main);
    -o-transition: var(--delay-main);
}

.widget-control .contents .checkdiv::before {
    position: absolute;
    content: '';
    width: 15px;
    height: 15px;
    border: 2px solid var(--third-color);
    border-radius: 6px;
    left: 0px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.widget-control .contents label .checkdiv::after {
    position: absolute;
    font-family: 'Font Awesome\ 5 Free';
    content: '\f00c';
    font-weight: 900;
    font-size: 12px;
    width: 19px;
    height: 19px;
    background-color: var(--decore-blue);
    color: var(--sec-color);
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: var(--delay-main);
    -webkit-transition: var(--delay-main);
    -moz-transition: var(--delay-main);
    -ms-transition: var(--delay-main);
    -o-transition: var(--delay-main);
    transform: rotate(0deg) scale(0);
    -webkit-transform: rotate(0deg) scale(0);
    -moz-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    -o-transform: rotate(0deg) scale(0);
}

.widget-control .contents label input:checked+.checkdiv::after {
    transform: rotate(360deg) scale(1);
    -webkit-transform: rotate(360deg) scale(1);
    -moz-transform: rotate(360deg) scale(1);
    -ms-transform: rotate(360deg) scale(1);
    -o-transform: rotate(360deg) scale(1);
}

/* ************************************* */
/*  Ends Widget Control widget */
/* ************************************* */

/* ************************************* */
/* ************************************* */
/*  Start Backup widget */
/* ************************************* */
/* ************************************* */


.backup .contents>div {
    padding-bottom: 20px;
}

.backup .contents .select {
    margin-bottom: 20px;
    border-bottom: 1px solid var(--fourth-Dark-color);
}

.backup .contents .select .case {
    margin-bottom: 20px;
}

.backup .contents label {
    font-weight: 500;
    position: relative;
    padding: 0px 0px 15px 30px;
    cursor: pointer;
}

.backup .contents label .radio {
    position: absolute;
    left: 0px;
    top: 0px;
    transition: var(--delay-main);
    -webkit-transition: var(--delay-main);
    -moz-transition: var(--delay-main);
    -ms-transition: var(--delay-main);
    -o-transition: var(--delay-main);
}

.backup .contents label .radio::before {
    position: absolute;
    content: '';
    width: 18px;
    height: 18px;
    border: 2px solid var(--third-color);
    left: 0px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.backup .contents label .radio::after {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    background-color: var(--decore-blue);
    left: 5px;
    top: 5px;
    display: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.backup .contents label input:checked+.radio::after {
    display: block;
}

.backup .contents .servers {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.backup .contents .servers .server {
    border: 2px solid var(--fourth-color);
    padding: 20px;
    width: 100%;
    margin: 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.backup .contents .servers .server label {
    text-align: center;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    padding: 0;
}

.backup .contents .servers .server i {
    padding-bottom: 10px;
}

.backup .contents .servers input:checked+.server {
    border-color: var(--fifth-color);
}

/* ************************************* */
/*  Ends Backup widget */
/* ************************************* */



/* ************************************* */
/*  End Settings widget */
/* ************************************* */

/* ************************************* */
/* ************************************* */
/* ************************************* */
/*  Start media */
/* ************************************* */
/* ************************************* */
/* ************************************* */
@media (max-width: 767px) {
    .settings-page {
        grid-template-columns: minmax(100px, 1fr);
        margin-left: 10px;
        margin-right: 10;
        gap: 10px;
    }

    .backup .contents .servers {
        flex-wrap: wrap;
    }
}

/* ************************************* */
/*  End Media */
/* ************************************* */